
@{
    ViewBag.Title = "Create";
}
@model AspNet_Mvc.ViewModels.EmployeeViewModel
<h2>Create</h2>
@using (Html.BeginForm("Create", "Employees", FormMethod.Post))
{
<tabla>
    <tr>
        <td>@Html.LabelFor(model => model.Employee.Name)</td>
        <td>@Html.TextBoxFor(model => model.Employee.Name)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Employee.Position)</td>
        <td>@Html.TextBoxFor(model => model.Employee.Position)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Employee.Age)</td>
        <td>@Html.TextBoxFor(model => model.Employee.Age)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Employee.Salaries)</td>
        <td>@Html.TextBoxFor(model => model.Employee.Salaries)</td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Guardar" /></td>
    </tr>
</tabla>
}
