
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("Create","Employees")">Nuevo Empleado</a>
<table cellpadding="2" cellspacing="2">
    <thead>
        <tr>
            <td>D1</td>
            <td>D2</td>
            <td>D3</td>
            <td>D4</td>
            <td>D5</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in ViewBag.ListEmployees)
        {
        <tr>
            <td>@employee.EmployeeId</td>
            <td>@employee.Name</td>
            <td>@employee.Position</td>
            <td>@employee.Age</td>
            <td>@employee.Salaries</td>
            <td><a href=@Url.Action("Edit","Employees", new { id = employee.EmployeeId})>Editar</a></td>
            <td><a onclick="return confirm('Esta seguro que quiere eliminar el registro')" href="@Url.Action("Delete", "Employees", new { id = employee.EmployeeId})">Delete</a></td>
        </tr>
        }
    </tbody>
</table>